/* Une Semaine CSS */
body {
	/*display: inline-table;*/
}

table {
	margin: 0px;
	padding: 0px;
}

#page {
	position: relative; 
	margin: 0px auto 0px auto; 
	max-width: 980px; }
}

#page_content {
	/*display: flex;*/
}

#leResultat {
	margin: 0px;
	/*height: 259px;
	width: 200px;*/
	/*padding: 0px;
	float: right;*/
	/*display: table;*/
}

#leResultat tr td{
	width: 70px;
}

#histoColorRange {
	margin: 0px;
}

#totalRuns {
	margin: 2px;
	margin-top: 7px;
	width: auto;
	height: 25px;
	float: left;
}

#inputStats {
	display: block;
	padding: 5px;
	margin: 5px;
}

#page header a.logo {
	/*position: absolute;
	top: 45px;
	left: 45px;
	display: block;
	width: 180px;
	height: 105px;
	background: url(../images/logo_large.png) no-repeat 0px 0px;*/
}

#page header {
	display: block;
	width: 100%;
	height: 85px;
	padding: 10px;
	
}
/*#inTotal {
	margin: 5px;
	width: auto;
	height: 25px;
	float: left;
}*/

input {
	margin: 5px;
	width: auto;
	height: 25px;
	float: left;
}

div.histogram {
	margin: 10px;
	height: 300px;
	/*width: 500px;*/
	display: flex;
}

table.histoTable {
	border: solid;
	border-collapse: collapse;
	margin: 2px auto;
	float: left;
}

table.histoTable td {
	border: solid 1px;
	border-collapse: collapse;
	width: 80px;
	height: 80px;
	text-align: center;
}

table.stats, table.stats td {
	border: solid;
	border-collapse: collapse;
	margin: 2px auto;
	text-align: center;
	/*float: left;*/
}

table.stats {
	
	/*background-image: linear-gradient(top, #F8C, #05C);*/
}

table.histoColorRange {
	border-collapse: collapse;
	margin: 0px;
}

td.nombre {
	background-color: rgba(0,0,0,1);
	color: white;
}

div.colorogram {
	margin: 0px 5px;
	/*background: linear-gradient(to top, #000000 10%,#800000 30%,#FF0000 60%);*/
	/*background: linear-gradient(to bottom, rgba(0,0,0, 0.9), rgba(255,0,0,0.8)); /* Standard syntax (must be last) */
	width: 40px;
	height: 256px;
	float: left;
	/*gradient: ;*/
	/*display: inline;*/
}

