/* Une Semaine CSS */
body {
	/*display: inline-table;*/
}
div.histogram {
	margin: 150px auto;
	display: inline;
}

table.histoTable {
	border: solid;
	border-collapse: collapse;
	margin: 2px auto;
	float: left;
}

table.histoTable td {
	border: solid 1px;
	border-collapse: collapse;
	width: 80px;
	height: 80px;
	text-align: center;
}

table.stats, table.stats td {
	border: solid;
	border-collapse: collapse;
	margin: 2px auto;
	text-align: center;
	/*float: left;*/
}

table.stats {
	
	/*background-image: linear-gradient(top, #F8C, #05C);*/
}

table.histoColorRange {
	border-collapse: collapse;
	margin: 0px;
}

td.nombre {
	background-color: rgba(0,0,0,1);
	color: white;
}

div.colorogram {
	margin: 0px 5px;
	/*background: linear-gradient(to top, #000000 10%,#800000 30%,#FF0000 60%);*/
	/*background: linear-gradient(to bottom, rgba(0,0,0, 0.9), rgba(255,0,0,0.8)); /* Standard syntax (must be last) */
	width: 40px;
	height: 256px;
	float: left;
	/*gradient: ;*/
	/*display: inline;*/
}

